<%-include("header")-%>

    <div class="owl-carousel-wrapper">

      

      <div class="box-92819">
        <h1 class="text-white mb-3"> Join<br>African_Child Movement To end Child Poverty in Africa</h1>
      
      </div>

      <div class="owl-carousel owl-1 ">
        <div class="ftco-cover-1 overlay" style="background-image: url('images/hero_1.jpg');"></div>
        <div class="ftco-cover-1 overlay" style="background-image: url('images/hero_2.jpg');"></div>
        <div class="ftco-cover-1 overlay" style="background-image: url('images/hero_3.jpg');"></div>
      </div>
    </div>
    

    <div class="container">
      <div class="feature-29192-wrap d-md-flex" style="margin-top: -20px; position: relative; z-index: 2;">

        <a href="#" class="feature-29192 overlay-danger" style="background-image: url('images/img_3_gray.jpg');">
          <div class="text">
            <span class="meta">Livelihood</span>
            <h3 class="text-cursive text-white h1">Livelihood</h3>
          </div>
        </a>

        <a class="feature-29192 overlay-success" style="background-image: url('images/img_2_gray.jpg');">
          <div class="text">
            <span class="meta">Health</span>
            <h3 class="text-cursive text-white h1">Natural Remedies</h3>
          </div>
        </a>

        <div class="feature-29192 overlay-warning" style="background-image: url('images/img_1_gray.jpg');">
          <div class="text">
            <span class="meta">School</span>
            <h3 class="text-cursive text-white h1">New Class Rooms</h3>
          </div>
        </div>

      </div>
    </div>
    
 
    <div class="site-section">
      <div class="container">
          <div class="row mb-5 align-items-st">
              <div class="col-md-4">
                <div class="heading-20219">
                  <h2 class="title text-cursive">African_Child</h2>
          <img src="http://www.randyplett.com/travel-photos/african-children-education.jpg" style="height:250px;"> 
        </div>
      </div>
          <div class="col-md-8">
            <p> <br> <br> <br> Poverty is common in many African countries and millions of children are at risk of hunger, HIV, AIDS, malnutrition, malaria and preventable disease. Africa_child project development centers serve more than 317,400 children in eight countries—Burkina Faso, Ethiopia, Ghana, Kenya, Rwanda, Tanzania, Togo and Uganda. Would you prayerfully consider donating to help children in our ministry? Your tax-deductible donation will make a lifelong impact in a child’s life. Thank you and God bless as you donate to African_Child funds, helping support children in Africa!.</p>
          </div>
        </div>
        <h1>Lastest donation</h1>
        <div class="row">
          <div class="col-md-4">
              <div class="cause shadow-sm">
              
                <a href="#" class="cause-link d-block">
                  <img src="https://www.compassionuk.org/wp-content/uploads/2018/05/Sponsor-a-child-in-Africa.jpg" alt="Image" class="img-fluid">
                  <div class="custom-progress-wrap">
                    <span class="caption">80% complete</span>
                    <div class="custom-progress-inner">
                      <div class="custom-progress bg-danger" style="width: 80%;"></div>
                    </div>
                  </div>
                </a>

                <div class="px-3 pt-3 border-top-0 border border shadow-sm">
                  <span class="badge-danger py-1 small px-2 rounded mb-3 d-inline-block">School</span>
                  <h3 class="mb-4"><a href="#">James smith donated school fees and school materials in African_Child project.</a></h3>
                  <div class="border-top border-light border-bottom py-2 d-flex">
                    <div>Donated</div>
                    <div class="ml-auto"><strong class="text-primary">$32,919</strong></div>
                  </div>

                  <div class="py-4">
                    <div class="d-flex align-items-center">
                      <img src="images/person_1.jpg" alt="Image" class="rounded-circle mr-3" width="50">
                      <div class="">James Smith</div>
                    </div>
                  </div>
                </div>
              
              </div>
          </div>
          <div class="col-md-4">
            
            <div class="cause shadow-sm">
              
                <a href="#" class="cause-link d-block">
                  <img src="https://i1.wp.com/regionweek.com/wp-content/uploads/2019/06/B.jpg?resize=840%2C560" alt="Image" class="img-fluid">
                  <div class="custom-progress-wrap">
                    <span class="caption">80% complete</span>
                    <div class="custom-progress-inner">
                      <div class="custom-progress bg-primary" style="width: 80%;"></div>
                    </div>
                  </div>
                </a>

                <div class="px-3 pt-3 border-top-0 border border shadow-sm">
                  <span class="badge-primary py-1 small px-2 rounded mb-3 d-inline-block">Health</span>
                  <h3 class="mb-4"><a href="#">James smith donated insurance and he payed a visit to those in hospitals in African_Child project.</a></h3>
                  <div class="border-top border-light border-bottom py-2 d-flex">
                    <div>Donated</div>
                    <div class="ml-auto"><strong class="text-primary">$32,919</strong></div>
                  </div>

                  <div class="py-4">
                    <div class="d-flex align-items-center">
                      <img src="images/person_1.jpg" alt="Image" class="rounded-circle mr-3" width="50">
                      <div class="">James Smith</div>
                    </div>
                  </div>
                </div>
              
              </div>

          </div>
          <div class="col-md-4">
            
            <div class="cause shadow-sm">
              
                <a href="#" class="cause-link d-block">
                  <img src="images/img_3.jpg" alt="Image" class="img-fluid">
                  <div class="custom-progress-wrap">
                    <span class="caption">80% complete</span>
                    <div class="custom-progress-inner">
                      <div class="custom-progress bg-warning" style="width: 80%;"></div>
                    </div>
                  </div>
                </a>

                <div class="px-3 pt-3 border-top-0 border border ">
                  <span class="badge-warning py-1 small px-2 rounded mb-3 d-inline-block">Livelihood</span>
                  <h3 class="mb-4"><a href="#">James smith donated food and blackets for the families in African_Child project.</a></h3>
                  <h3 class="mb-4"><a href="#"> </a></h3>
                  <div class="border-top border-light border-bottom py-2 d-flex">
                    <div>Donated</div>
                    <div class="ml-auto"><strong class="text-primary">$32,919</strong></div>
                  </div>

                  <div class="py-4">
                    <div class="d-flex align-items-center">
                      <img src="images/person_1.jpg" alt="Image" class="rounded-circle mr-3" width="50">
                      <div class="">James Smith</div>
                    </div>
                  </div>
                </div>
              
              </div>

          </div>
        </div>
      </div>
    </div>

    <div class="bg-image overlay site-section" style="background-image: url('images/hero_1.jpg');">
      <div class="container">

        <div class="row align-items-center">
          <div class="col-12">
            <div class="row mb-5">
              <div class="col-md-7">
                <div class="heading-20219">
                  <h2 class="title text-white mb-4 text-cursive">Why Choose Us</h2>
                  <p class="text-white">African_Child is a prject head by a Rwandan lady to help poor Children in Africa whose families can not afaid to pay primary needs.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-5">
                <div class="feature-29012 d-flex">
                  <div class="number mr-4"><span>1</span></div>
                  <div>
                      <h3>African_Child</h3>
                    <p> When you donate to children in Africa through African_Child project, you can help counter poverty in the second largest continent in the world. We provide clean water, child sponsorship, infant survival, leadership development, disease control and prevention, and social justice resources..</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-5">
                <div class="feature-29012 d-flex">
                  <div class="number mr-4"><span>2</span></div>
                  <div>
                    <h3>Highly Vulnerable children</h3>
                    <p>African_Child intervenes on behalf of children who have severely ill parents or who are at risk of abuse or exploitation, offering extra attention and protection.</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 mb-5">
                <div class="feature-29012 d-flex">
                  <div class="number mr-4"><span>3</span></div>
                  <div>
                      <h3>About HIV and AIDS</h3>
                    <p>Donations to African_Child project AIDS Initiative are used to provide support to children infected by AIDS, living with the HIV virus, or who are living with parents or siblings who are HIV+ or infected by AIDS.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-5">
                <div class="feature-29012 d-flex">
                  <div class="number mr-4"><span>4</span></div>
                  <div>
                      <h3>Education</h3>
                    <p>Secondary education is a critical element in a child’s journey to overcome poverty. Our Educational Needs fund provides the resources for children to go beyond their primary education.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
    
    <div class="site-section">
      <div class="container">
        <div class="heading-20219 mb-5">
          <h2 class="title text-cursive">Latest Event</h2>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="event-29191 mb-5">
              <a href="#" class="d-block mb-3"><img src="http://www.photosbyangelika.com/wp-content/themes/photocrati-theme/galleries/post-150/thumbnails/med-Portrait%20Photography%20of%20kids%20boys%20soccer%20team%20from%20Phillipi%20Township%20Cape%20Town%20South%20Africa%20-%20IMG_0437.jpg" alt="Image" class="img-fluid rounded"></a>
              <div class="px-3 d-flex">

                <div class="bg-primary p-3 d-inline-block text-center rounded mr-4 date">
                  <span class="text-white h3 m-0 d-block">22</span>
                  <span class="text-white small">Oct 2019</span>
                </div>

                <div>
                  <div class="mb-3">
                    <span class="mr-3"> <span class="icon-clock-o mr-2 text-muted"></span>9:30 AM &mdash; 11:30 AM</span>
                    <span> <span class="icon-room mr-2 text-muted"></span>Ghana Africa</span>
                  </div>
                  <h3><a href="/single"> James smith deonated school fees and school materials in African_Child project.</a></h3>
                </div>

              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="event-29191 mb-5">
              <a href="#" class="d-block mb-3"><img src="http://www.newfireforchrist.org/file/ak_children_with_ball_640.jpg" alt="Image" class="img-fluid rounded"></a>
              <div class="px-3 d-flex">

                <div class="bg-primary p-3 d-inline-block text-center rounded mr-4 date">
                  <span class="text-white h3 m-0 d-block">22</span>
                  <span class="text-white small">Oct 2019</span>
                </div>

                <div>
                  <div class="mb-3">
                    <span class="mr-3"> <span class="icon-clock-o mr-2 text-muted"></span>9:30 AM &mdash; 11:30 AM</span>
                    <span> <span class="icon-room mr-2 text-muted"></span>Congo Africa</span>
                  </div>
                  <h3><a href="single">James smith donated insurance and visit those in hospitals in African_Child project.</a></h3>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="site-section">
      <div class="container">
        
            <div class="d-md-flex cta-20101 align-self-center bg-light p-5">
              <div class=""><h2 class="text-cursive">Helping the Homeless, Hungry, and Hurtings Children in Africa</h2></div>
              
            </div>
        
      </div>
    </div>
    
    <footer class="site-footer bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-7">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>When you donate to children through African_Child project,<br>you are helping Africa in a second.</p>
              </div>
              <div class="col-md-4 ml-auto">
                <h2 class="footer-heading mb-4">Features</h2>
                <ul class="list-unstyled">
                  <li><a href="/index">Home</a></li>
                  <li><a href="/about">About Us</a></li>
                  <li><a href="/donate">Donate Now</a></li>
                  <li><a href="/blog">Blog</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </div>

            </div>
          </div>
          <div class="col-md-4 ml-auto">

            <div class="mb-5">
              <h2 class="footer-heading mb-4">Subscribe to Newsletter</h2>
              <form action="#" method="post" class="footer-suscribe-form">
                <div class="input-group mb-3">
                  <input type="text" class="form-control rounded-0 border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary text-white" type="button" id="button-addon2">Subscribe</button>
                  </div>
                </div>
            </div>


            <h2 class="footer-heading mb-4">Follow Us</h2>
            <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="pt-5">
              <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            nteddy17@gmail.com &copy;<script>document.write(new Date().getFullYear());</script>|Africa_child <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Therese</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>

        </div>
      </div>
    </footer>

    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/aos.js"></script>

    <script src="js/main.js"></script>

  </body>

</html>
